body {
    background-color: lightgrey;
}
.pos {
    background-color: white;
    margin:3px 455px 10px 455px;
    height:750px ;
    width: 550px;
}
h1{
    height: 50px;
    width: 550px;
    padding: 10px 0px 0px 15px;
}
img {
    height: 150px;
    width: 150px;
   padding-left: 200px;
}
h3{
    height: 18px;
    width: 370px;
    padding-left: 150px;
}
.blok1{
    border-top:1px solid black;
    width:450px;
    height: 130px;
    padding-left: 20px;
    margin-left: 50px;
}
ol{
    padding-left: 0px;
}
.blok2{
    border-top:1px solid black;
    width:450px;
    height: 160px;
    padding-left: 20px;
    margin-left: 50px;

}
.blok3{
    border-top:1px solid black;
    width:450px;
    padding-left: 20px;
    margin-left: 50px;
}